.navbar-item-drop {
  padding: 2.9rem .75rem !important;
}

.drop-zone {
  flex-direction: column;
  //justify-content: flex-end;
  //border: 5px red dashed;
  //width: 300px;

  .drop-content {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px !important;
    //border: 5px purple solid;
  }

  .drop-content-end {
    margin: 0 36%;
  }
}

@media screen and (max-width: 768px) {
  .navbar-end-force {
    justify-content: flex-end;
    margin-left: auto;
  }
}
