.head-mobile {
  @media screen and (max-width: 1023px) {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .navbar-end-force {
    justify-content: flex-end;
    margin-left: auto;
  }
}

.navbar-item-drop {
  padding: 2.9rem .75rem !important;
}

.drop-zone {
  flex-direction: column;

  @media screen and (max-width: 1100px) {
    width: 230px;
  }

  .drop-content {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px !important;
  }

  .drop-content-end {
    margin: 0 36%;
  }
}
