* {
  box-sizing: border-box;
}

body {
  font-family: $roboto-normal;
  padding: 20px 80px;
  font-size: .8rem;

  background-image: url(../../../Assets/landing.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

#rohza-text {
  background-color: black;
  width: 131px;
  height: 43px;

  font-family: $rozha-normal;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50%;

  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #FFFFFF;
}

#title-roboto {
  font-family: $roboto-normal;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;

  /* identical to box height, or 83% */
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}


#bottom-title-roboto {
  font-family: $roboto-normal;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.15em;
  text-align: center;
}
